---
# tasks file for ansible-telegraf

- name: "Check if Telegraf bin exists" 
  stat:
    path: /usr/bin/telegraf
  register: telegraf_bin

- name: "Check Telegraf version"
  command: "/usr/bin/telegraf --version"
  register: telegraf_current_version
  when: 
    - ansible_os_family == "RedHat" or  ansible_os_family == "Debian" 
    - telegraf_bin.stat.exists == True
  changed_when: False
  failed_when: False

- name: "Remove Telegraf with old version"
  package:
    name: telegraf
    state: absent
  register: telegraf_remove
  when:
    - telegraf_current_version.stdout is defined
    - telegraf_agent_disable_version is not none
    - telegraf_current_version.stdout | regex_search(telegraf_agent_disable_version)

- name: "Install on RedHat"
  include_tasks: "RedHat.yml"
  when: 
    - ansible_os_family == "RedHat" 
    - (telegraf_bin.stat.exists == False and not telegraf_agent_docker) or telegraf_remove.changed

- name: "Install on Debian"
  include_tasks: "Debian.yml"
  when: 
    - ansible_os_family == "Debian"
    - (telegraf_bin.stat.exists == False and not telegraf_agent_docker) or telegraf_remove.changed
  tags:
    - telegraf
    - packages

- name: "Install on Suse"
  include_tasks: "Suse.yml"
  when: ansible_os_family == "Suse" and not telegraf_agent_docker

- name: "Install on FreeBSD"
  include_tasks: "FreeBSD.yml"
  when:
    - ansible_os_family == "FreeBSD" and not telegraf_agent_docker

- include_tasks: "docker.yml"
  when: telegraf_agent_docker

- name: "Configure Telegraf"
  include_tasks: "configure_linux.yml"
  when:
    - ansible_os_family != "Windows"

- name: "Install / Configure telegraf on Windows"
  include_tasks: "configure_windows.yml"
  when:
    - ansible_os_family == "Windows" and not telegraf_agent_docker
